Q 1: What are data structures, and why are they important
Data structure is the way to organize the date in systematic way. It helps us storing the data in in different way while reducing memory storage


Question:Explain the difference between mutable and immutable data types with examplesP

If we can make changes like adding an element is data, then it is mutable data type and if no alteration can be made post creation is known as immutable data type
Example - List is mutable, however, tuple is immutable


Question:What are the main differences between lists and tuples in Python?
The main difference between tuple and list is that Tuple are immutable and lists are mutable data structure


Question:Describe how dictionaries store data?

Dictionary store the data in key-value pair. A specific key will be assigned for each value. A key can't be same duplicate otherwise it will keep as last updated value and rest will be discarded
Example - {"name" : "subhash", "age" : 31,"City" : "NOIDA"}


Question:Why might you use a set instead of a list in Python?
We can use set where we need to store only unique values and it is easy to handle and saves memory space


Question:What is a string in Python, and how is it different from a list
String is a data structure in python which is used to store hold any kind of data within "" value.
It is different from list becasue they are immutable in nature and cannot be altered once created by user


Question:How do tuples ensure data integrity in Python?
Tuples are used to ensure data integrity because they are immutable in nature and cannot be altered or manupulated after their creation


Question:What is a hash table, and how does it relate to dictionaries in Python
Hash tables are used to store the data in key value pair and dictionaries also works on the same pattern of key value pairs


Question:Can lists contain different data types in Python?
List can store any type of data like string; dictionary, set, tuple and list themselves as well


Question:Explain why strings are immutable in Python?
String are immutable in nature and it is created to provide a stable data with securtiy as well


Question:What advantages do dictionaries offer over lists for certain tasks.
Dictionary works on key - value pair pricipal and retriving data from Dictionary is easy becasue it has defined "Key" for every itm. However, List follows indexing prinical where we need to find the index first for a value and then loop.


Question:Describe a scenario where using a tuple would be preferable over a list
Tuples are used where data needs to store with with alteration. Suppose  wee need to keep "Employee ID" for every person working joined in company  2010. We will prefer the the tuple here because 2010 has already passed and no new emplyee can be added, however, we will be using list list we are doing it for current year 2025



Question:How do sets handle duplicate values in Python
Set are designed by concept to handle the unique values only. If we are passing duplicate values, it will simply delete it and keep 1 unique item only



Question:How does the “in” keyword work differently for lists and dictionaries
The in keyword in Python is a membership operator that checks for the presence of an element within a container, but it behaves differently for lists and dictionaries due to the fundamental structure of these data types


Question:Can you modify the elements of a tuple? Explain why or why not
We cannot modify the elements in tuple becasue they are used to store the data which is forbidded from editing due to data integrity


Question:What is a nested dictionary, and give an example of its use case?
Nested Dictioanary is concept to create as additional dictionary inside a dictionary to keep the records and reduce the memory usage

students = {
    'student1': {
        'name': 'Drake',
        'age': 20,
        'grade': 'A'
    },
    'student2': {
        'name': 'Travis',
        'age': 22,
        'grade': 'B'
    },
    'student3': {
        'name': 'Charlie',
        'age': 21,
        'grade': 'A+'
    }
}



Question:Describe the time complexity of accessing elements in a dictionaryP
Accessing elements in a dictionary, or hash map, has an average time complexity of O(1) (constant time) [1, 2]. This means that, on average, the time it takes to retrieve a value using its key does not increase as the number of items in the dictionary grows.



Question:In what situations are lists preferred over dictionaries?
List are preferred where we need to store the data in a proper order and getting the data via integer index. List also helps us to append the data easily as compared to Dictionary.



Question:Why are dictionaries considered unordered, and how does that affect data retrieval
Dictionary are considered as unordered becasue they do not store the data based of indexing. Indexing process helps us to retrive the data via loops as well but Dictionary data needs to provide "Key" argument.



Question:Explain the difference between a list and a dictionary in terms of data retrieval.
The Data retrieval process is entirely different in List and Dictionary. List have indexing concept and all the data will be ordered, so we can retrive the data index based, however, Dictionay have key value pair concept and need retrive through "Key" calling

In [ ]:
# Write a code to create a string with your name and print it
name = "subhash kumar"
print(name)

subhash kumar

In [ ]:
# Write a code to find the length of the string "Hello World"?
string = "Hello World"
length = len(string)
print(length)

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming"?
string = "Python Programming"
string[: 3]

'Pyt'

In [ ]:
# Write a code to convert the string "hello" to uppercase?
string = "hello"
string.upper()

'HELLO'

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"?
string = "I like apple"
string.replace("apple","orange")

'I like orange'

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it?
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]?
list1 = [1,2,3,4]
list1.append(10)
list1

[1, 2, 3, 4, 10]

In [ ]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list1 = [1,2,3,4,5]
list1.remove(3)
list1

[1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
list1 = ["a","b","c","d"]
list1[1]

'b'

In [ ]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

list1 =  [10, 20, 30, 40, 50]
list1.reverse()
list1

[50, 40, 30, 20, 10]

In [ ]:
 # Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [ ]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1 = ('red', 'green', 'blue', 'yellow')
tuple1[-2]

'blue'

In [ ]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple1 = (10, 20, 5, 15)
min_tuple = min(tuple1)
print(min_tuple)

5

In [ ]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
tuple1 = ('dog', 'cat', 'rabbit')
index_cat = tuple1.index("cat")
print(index_cat)

1

In [ ]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("orange", "banana","kiwi")
is_kiwi = "kiwi" in fruits
print(is_kiwi)

True

In [ ]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {"a","a","b","c"}
print(set1)

{'b', 'c', 'a'}

In [ ]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}?
set1 = {1, 2, 3, 4, 5}
set2 = set1.clear()
print(set2)

None

In [ ]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}?
set1 =  {1, 2, 3, 4}
set1.remove(4)
set1

{1, 2, 3}

In [ ]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1.union(set2)
print("The union of set1 and set 2 is", set3)

The union of set1 and set 2 is {1, 2, 3, 4, 5}

In [ ]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set3 = set1.intersection(set2)
print("The intersection of set1 and set 2 is", set3)

The intersection of set1 and set 2 is {2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d1 = {"name" : "subhash", "age" : 29,"city" : "NOIDA"}
d1_keys  = d1.keys()
print(d1_keys)

dict_keys(['name', 'age', 'city'])

In [ ]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d1 = {"name" : "subhash", "age" : 29,"city" : "NOIDA"}
d2 = {"Country" : "USA"}
d1.update(d2)
print(d1)

{'name': 'subhash', 'age': 29, 'city': 'NOIDA', 'Country': 'USA'}

In [ ]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d1 =  {"name": "Alice", "age": 30}
d2 = d1.get("name")
print(d2)

Alice

In [ ]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d1.pop("age")

22

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d1 = {'name': 'Alice', 'city': 'Paris'}
if "city" in d1.keys():
  print("The key 'city' exists in the dictionary.")
else:
  print("Does not exist")

The key 'city' exists in the dictionary.

In [55]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
list1 = [22,64,98,3,87]
list1.sort()
print(list1)

[3, 22, 64, 87, 98]

In [63]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
all_data = ["Subhash", 1,3,5,6,3,99,4,3,3,5,4,3]
list1 = list(all_data)
print("This is list ", list1)
tuple1 = tuple(all_data)
print("This is tuple" ,tuple1)
dict1 = {"name" : "subhash", "age" : 29, "city": "Noida", "Country" :"India"}
print(dict1)

This is list  ['Subhash', 1, 3, 5, 6, 3, 99, 4, 3, 3, 5, 4, 3]
This is tuple ('Subhash', 1, 3, 5, 6, 3, 99, 4, 3, 3, 5, 4, 3)
{'name': 'subhash', 'age': 29, 'city': 'Noida', 'Country': 'India'}

In [68]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list = ["subhash","Deepak", "roshan", "rupa","Deepak"]
my_list[2]
print(my_list[2])
my_list[3]

roshan

'rupa'

In [75]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name" : "subhash", "age" : 29, "city": "Noida", "Country" :"India"}
dict2 = {"Salary": 45000,"company" : "Enser"}
dict1.update(dict2)
print(dict1)

{'name': 'subhash', 'age': 29, 'city': 'Noida', 'Country': 'India', 'Salary': 45000, 'company': 'Enser'}

In [78]:
# 30. Write a code to convert a list of strings into a set.
my_list = ["subhash","Deepak", "roshan", "rupa","Deepak"]
my_list = set(my_list)
my_list

{'Deepak', 'roshan', 'rupa', 'subhash'}